.forgot-password-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .forgot-password-contant {
        min-width: 200px;
        min-height: 200px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 18px 0;
        word-break: break-word;

        .forgot-password-header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 18px 16px 18px 0;
            .title {
                font-size: 2rem;
                line-height: 24px;
                margin-top: -15px;
                padding: 0 14px;
            }
        }

        .input-change {
            display: flex;
            flex-direction: column;

            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            align-items: flex-start;
            margin-top: 20px;
            padding: 0 14px;
            padding-bottom: 14px;

            p {
                font-size: 17px;
                line-height: 20px;
                margin-bottom: 16px;
            }

            .input {
                outline: none;
                border-radius: 6px;
                font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
                font-size: 16px;
                height: auto;
                margin-bottom: 0;
                padding: 16px 0 16px 16px;
                border: 1px solid #ccd0d5;
                width: 444px;
            }
        }

        .forgot-password-bottom {
            display: flex;
            margin: 14px 0;
            padding: 0 14px;
            align-items: center;
            justify-content: space-between;

            &.send {
                justify-content: flex-end;
            }

            .input {
                outline: none;
                border-radius: 6px;
                font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
                font-size: 16px;

                margin-bottom: 0;
                padding: 8px 10px;
                border: 1px solid #ccd0d5;
                width: 50%;
            }

            .button {
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 30px;
                color: rgba(0, 0, 0, 0.54);
                cursor: pointer;
                outline: none;
                font-size: 1.4rem;
                height: 37px;
                line-height: 37px;
                padding: 0 16px;
                transition: background-color 0.1s, border-color 0.1s, color 0.1s, fill 0.1s;

                &:hover {
                    border: 1px solid rgba(0, 0, 0, 0.65);
                    color: rgba(0, 0, 0, 0.65);
                }
            }
        }

        .auto {
            display: block;
            padding: 4px 14px 0;
            text-align: center;

            .time {
                color: blue;
            }
        }
    }
}
