.my-exam-container {
    display: flex;
    margin-top: 80px;

    .content {
        width: 80%;
        padding: 20px;

        .header-exam {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add-exam {
                font-size: 1.9rem;
                font-weight: 600;
                color: #616161;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            gap: 23px;

            .previous,
            .next {
                a {
                    text-decoration: none;
                    color: #0d6efd;
                }
            }
            .active {
                /* Kiểu dáng cho trang hiện tại (trang active) */
                font-weight: bold;
                color: blue;
            }
            /* Kiểu dáng cho các nút và phần tử phân trang */
        }

        .table-body {
            min-height: 330px;
            .action {
                overflow: visible;
                display: flex;
                gap: 30px !important;
            }
        }
        .hidden-password {
            -webkit-text-security: disc;
            -moz-text-security: disc;
            text-security: disc;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
