.img-nodata-container {
    display: flex;
    justify-content: center;
    .img-nodata-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 100px;
        gap: 10px;
        border-radius: 49%;
        border: 1px solid #ccc;
        background-color: rgba(0, 0, 0, 0.01);
        img {
            width: 200px;
        }

        span {
        }
    }
}
