.exam-item-container {
    width: 100%;
    .exam-item-body {
        padding: 8px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }

        .exam-no-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .exam-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .exam-item-content {
            flex: 1;

            .sub-content {
                display: flex;
                justify-content: space-between;
                .exam-item-title {
                    font-size: 1.8rem;
                }

                .no-limit {
                    color: orange;
                }
            }

            .quantity-join {
                color: rgba(22, 24, 35, 0.5);
            }
        }
    }
}
