.start-exam-container {
    margin: 80px 100px 60px;

    //min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    .start-exam-body {
        width: 100%;
        .title {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 2.6rem;
            text-align: center;
            text-transform: uppercase;
        }

        .start-exam-content {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            background-color: #fff;
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-radius: 8px;
            border-bottom: none;
            .content-left {
                width: 60%;
                border-right: 1px solid #ccc;
            }

            .content-right {
                display: flex;
                flex-direction: column;
                width: 40%;
                height: 100%;

                .no-time {
                    text-align: center;
                    font-size: 4rem;
                    margin-bottom: 50px;
                }
            }
        }

        .action-submit {
            display: flex;
            margin-top: 30px;
            gap: 40px;
            justify-content: flex-end;

            .submit {
                background-color: #00c6d4;
                color: #fff;
            }

            .close {
                background-color: orange;
                color: #fff;
            }

            button {
                border: none;
                outline: none;
                padding: 6px 16px;
                border-radius: 4px;
                font-size: 1.8rem;

                &:hover {
                    cursor: pointer;
                    opacity: 0.9;
                }
            }
        }
    }
}
