.like-exam-container {
    margin-top: 80px;
    display: flex;

    .content {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        .sub-content {
            display: block;
            width: 40%;
            max-height: 120px;
            padding-left: 12px;
            padding-right: 12px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;

            h2 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

        .list-exam-body {
            width: 50%;
            background-color: #fff;
            border-radius: 8px;
            min-height: 100px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 18px 14px;
            word-break: break-word;

            .pagination {
                display: flex;
                font-size: 1.7rem;
                justify-content: center;
                margin-top: 20px;
                gap: 23px;

                .previous,
                .next {
                    a {
                        text-decoration: none;
                        color: #0d6efd;
                    }
                }
                .active {
                    /* Kiểu dáng cho trang hiện tại (trang active) */
                    font-weight: bold;
                    color: blue;
                }
                /* Kiểu dáng cho các nút và phần tử phân trang */
            }

            &.none {
                height: 120px;
            }

            .no-data {
                display: flex;
                flex-direction: column;

                .link {
                    margin-top: 4px;
                    color: #888;

                    a {
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
