.navigation-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .nav-body {
        margin: 0 100px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content-left {
            .title {
                font-size: 2.4rem;
            }
        }

        .content-right {
            display: flex;

            .navigate {
                font-size: 1.8rem;
                display: flex;
                gap: 60px;

                .item {
                    text-decoration: none;
                    list-style-type: none;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #616161;
                    font-weight: 500;
                    padding: 8px 10px;

                    &:hover {
                        color: #0c7ce9;
                        cursor: pointer;
                    }

                    &.active {
                        color: #0c7ce9;
                    }
                }

                .language {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    span {
                        &:hover {
                            color: orange;
                        }

                        &.active {
                            color: blue;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
