.like-exam-item {
    min-height: 230px;
    align-items: flex-start;
    border-bottom: 1px solid #d0d7de;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 12px;

    .span-img-container {
        width: 280px;
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        border: 1px solid #ccc;
        border-radius: 16px;
        .span-img {
            font-size: 3rem;
            overflow-wrap: anywhere;
            padding: 10px 16px;
        }
    }

    .like-exam-img {
        border-radius: 16px;
        height: 200px;
        object-fit: cover;
        margin-right: 30px;
        width: 280px;

        &:hover {
            cursor: pointer;
        }
    }

    .like-exam-text {
        .title {
            display: block;
            font-size: 1.8rem;
        }

        .description {
            font-size: 1.6rem;
            color: #ccc;
            margin-top: 4px;
            overflow: hidden;
        }
    }
}
