.like-exam-item {
    align-items: flex-start;
    border-bottom: 1px solid #d0d7de;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 12px;
    .like-exam-img {
        border-radius: 16px;
        height: 50%;
        object-fit: cover;
        margin-right: 30px;
        width: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    .like-exam-text {
        .title {
            display: block;
            font-size: 1.8rem;
        }

        .description {
            font-size: 1.6rem;
            color: #ccc;
            margin-top: 4px;
            overflow: hidden;
        }
    }
}
